.form-card.card {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
}
.action_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}